.container-fluid {
    height: auto !important;
}

@media (min-width:1024px) {
    .container-fluid {
        height: 100vh !important;
    }

}

@media(max-width: 420px) {
    .navbar-brand {
        display: none;
    }

    .sm-table-responsive {
        display: block !important;
        width: 100% !important;
        overflow-x: auto !important;
        -webkit-overflow-scrolling: touch !important;
    }
}